<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <img src="graphics/logo.png">
    <h1 id="title">RoamReel</h1>
        <?php if(isset($message)): ?>
            <p class="message">
                <?= $message; ?>
            </p>
        <?php endif; ?>
    <form action="\login" method="POST">
        <label for="email">Email</label>
        <input name=email type ='email' placeholder="E-mail">
        <label for="password">Password</label>
        <input name=password type ='password' placeholder="Password">
        <button type='submit' class="button btn-login">Login</button>
        <label for="button">Don't have an account?</label>
        <button type='button' class="button btn-register" onclick="window.location.href='/register'">Register</button>
    </form>
    </body>
</html>
