<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/register.css">
</head>
<body>
    <h1 id="title">RoamReel</h1>
        <?php if(isset($message)): ?>
            <p class="message">
                <?= $message; ?>
            </p>
        <?php endif; ?>
    <form action="\register" method="POST">
        <input type="hidden" name="csrf" value="<?php echo $_SESSION['csrf']; ?>">
        
        <label for="email">Email</label>
        <input name=email type ='email' placeholder="E-mail">
        <label for="username">Username</label>
        <input name=username type ='text' placeholder="Username">
        <label for="password">Password</label>
        <input name=password type ='password' placeholder="Password">
        <label for="password">Confirm Password</label>
        <input name=confPassword type ='password' placeholder="Confirm Password">
        <button type='submit' class="button btn-register">Register</button>
        <label for="button">Already registered?</label>
        <button type='button' class="button btn-login" onclick="window.location.href='/login'">Login</button>
    </form>
    </body>
</html>
