.container {
    width: 90vw;
    max-width: 1200px;
    padding-bottom: 2rem;
}


.card {
    background-color: rgb(224, 224, 224); 
    border: none;
    border-radius: 1rem; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.card-header {
    background-color: #4a477a !important; 
    color: white !important;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: none;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.bg-primary {
    background-color: #4a477a !important; 
}

.bg-success {
    background-color: #333333 !important; 
}

.card-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}


.table {
    margin-bottom: 0;
    border-color: rgba(0,0,0,0.1);
}

.table thead th {
    background-color: #dbdbdb;
    color: #333;
    border-bottom: 2px solid #bda8a8;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.table td {
    vertical-align: middle;
    color: #333;
    font-size: 0.95rem;
}


.table input.form-control-sm {
    background-color: white;
    border: 1px solid #ced4da;
    color: #333;
    padding: 0.25rem 0.5rem !important; 
    font-size: 0.85rem !important;
    border-radius: 0.25rem !important;
    box-shadow: none;
    height: auto;
}

.table input:focus {
    border-color: #4a477a;
    box-shadow: 0 0 0 0.2rem rgba(74, 71, 122, 0.25);
}


.btn-sm {
    border-radius: 0.4rem;
    font-weight: 600;
    transition: transform 0.2s;
}

.btn-sm:hover {
    transform: scale(1.05);
}

.btn-success {
    background-color: #4a477a;
    border-color: #4a477a;
}

.btn-success:hover {
    background-color: #3b365f;
    border-color: #3b365f;
}

.btn-danger {
    background-color: #d30000;
    border-color: #b00000;
}

.btn-outline-secondary {
    color: #3b365f;
    border-color: #292654;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background: transparent;
}

.btn-outline-secondary:hover {
    background-color: white;
    color: #292654;
    transform: scale(1.05);
}

.chart-card {
    margin-bottom: 3rem; 
}

.chart-wrapper {
    position: relative;
    margin: 0 auto; 
    width: 100%;
    max-width: 500px; 
    height: auto;
    padding: 1rem;
}

@media screen and (max-width: 800px) {
    .card-body {
        padding: 0.5rem;
        overflow-x: auto; 
    }
    
    .table td, .table th {
        white-space: nowrap; 
    }

        .chart-wrapper {
        max-width: 100%;
    }
}