main{
    font-family: 'Montserrat', Arial, sans-serif;
}

#bottom-panel {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 40vw;           
    margin-top: 1rem;
}

.main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

#creating-panel {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

#selection-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #ffffff;
}

#drop-zone {
    width: 40vw;
    height: 50vh;
    border: 3px dashed #333333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333333;
    cursor: pointer;
    transition: 0.3s;
    background-color: #adadad;
    flex-wrap: wrap;
    gap: 10px; 
    overflow-y: auto; 
    position: relative;
}

#drop-zone.dragover {
    border-color: #ffffff;
    background-color: #f0f8ff;
    color: #ffffff;
}

.image-preview-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.photo-preview {
    max-width: 100px; 
    max-height: 100px;
    border-radius: 5px;
    display: block;
}

.remove-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    background:  #4a477a;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-btn:hover {
    background:  #343155;
}

p {
    color: #ffffff;
}

.btn-generate {
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #4a477a;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-generate:hover {
    background: #343155;
    scale: 1.05;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

 .video-preview-container {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; 
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}
        
.video-preview-container video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
}


@media screen and (max-width: 800px) {

    body {
        justify-content: center; 
        min-height: 100vh; 
    }

    #creating-panel {
        margin-top: 20vh;
        flex-direction: column; 
        width: 100%;
        gap: 1.5rem;
        padding-bottom: 2rem; 
    }

    #selection-panel {
        width: 90%; 
        gap: 1rem;
    }

    #selection-panel select,
    #selection-panel input {
        width: 100%;
        padding: 12px;
        font-size: 1rem; 
        border-radius: 8px;
    }

    #drop-zone {
        width: 90vw;
        height: 30vh; 
    }

    .video-preview-container {
        width: 50vw;
        height: auto;
        aspect-ratio: 9 / 16; 
        max-height: 50vh;
    }

    .btn-generate {
        width: 100%; 
        padding: 1rem;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

}