main{
    font-family: 'Montserrat', Arial, sans-serif;
}

#bottom-panel {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 40vw;           
    margin-top: 1rem;
}

.main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

#creating-panel {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

#selection-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #ffffff;
}

#drop-zone {
    width: 40vw;
    height: 50vh;
    border: 3px dashed #333333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333333;
    cursor: pointer;
    transition: 0.3s;
    background-color: #adadad;
    flex-wrap: wrap;
    gap: 10px; 
    overflow-y: auto; 
    position: relative;
}

#drop-zone.dragover {
    border-color: #ffffff;
    background-color: #f0f8ff;
    color: #ffffff;
}

.photo-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;     
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    display: block;        
}

p {
    color: #ffffff;
}

.btn-generate {
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #4a477a;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}