* {
    box-sizing: border-box; 
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #292654;
    display: flex;
    flex-direction: column;
}

.message {
    color: rgb(255, 78, 78);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.side-panel {
    background-color:  rgb(224, 224, 224);
    width: 6vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20vh;
    position: absolute;
    right: 0;
    top: 0;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.buttons {
    cursor: pointer;
    fill: #333333;
    width: 5vw;
}

.buttons:hover {
    filter: drop-shadow(0 0 5px #adadad);
    transform: scale(1.1);
}

button {
  background: none;     
  border: none;        
  outline: none;             
  padding: 0.5rem;       
  display: flex;         
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 480px) {
    .side-panel {
        width: 12vw;
        gap: 10vh;
        flex-direction: row;
    }

    .buttons {
        width: 8vw;
    }

    .dashboard {
        width: 100%;
        height: calc(100vh - 12vw);
        flex-direction: column;
    }
}