* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #292654;
    overflow: hidden;
    justify-content: flex-end;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

svg path {
    cursor: pointer;
}

.allPaths {
    fill: #ececec; 
    stroke: black;
    transition: fill 0.3s, filter 0.2s ease;
}

.allPaths:hover {
    filter: drop-shadow(0 0 10px white);
    stroke-width: 3;
}

#map {
    background-color: #292654;
    flex: 1;
    width: 100vw;
    height: 100vh;
    cursor: grab; 
}

#allSvg {
    width: 100%;
    height: 100%;
    user-select: none; 
    transform-origin: 0 0;
    will-change: transform;
    transition: transform 0.05s ease-out; 
}

#buttons {
    cursor: pointer;
    fill: #333333;
    width: 5vw;
}

#buttons:hover {
    filter: drop-shadow(0 0 5px #adadad);
    transform: scale(1.1);
}

button {
  background: none;     
  border: none;        
  outline: none;             
  padding: 0.5rem;       
  display: flex;         
  justify-content: center;
  align-items: center;
}

#countryGallery {
    position: absolute;
    bottom: -90vh;
    left: 7%;
    width: 80vw;
    height: 80vh;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1000; 
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    transition: bottom 0.5s ease;

}

#infoContent {
    flex: 1;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-y: auto; 
    gap: 2rem;
}

#countryGallery.active {
    display: flex; 
    bottom: 0;
}

#closePanel {
    position: absolute;
    top: 0.1rem;
    right: 1.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}


#countryReelsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.trip-card {
    position: relative;
    width: 30vw;
    height: 30vw;
    max-width: 150px;
    max-height: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.trip-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trip-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}

.trip-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    color: #fff;
    font-size: 0.8rem;    
    text-align: center;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px) {
    #countryGallery {
        left: auto;
        width: 86vw;
        height: 80vh;
    }
}