main{
    font-family: 'Montserrat', Arial, sans-serif;
}

.main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

p {
    color: #ffffff;
}

#reel-panel {
    height: 80vh;
    display: flex;
    justify-content: center;
}

#reel {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}