h1 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 0rem;
    margin-bottom: 0.7rem;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: rgb(224, 224, 224);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 1rem;
    width: 25vw; 
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    justify-content: center;
    text-align: left;
    height: auto;
    min-width: 300px;
}

input {
  box-sizing: border-box;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15),
              0 0 5px rgba(13, 17, 79, 0.5);
}

.button {
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: #4a477a;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.btn-register {
    background: #4a477a;
}

.btn-login {
    background: #333333;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 480px) {

    body {
        padding: 1rem;
        justify-content: center; 
        min-height: 100vh; 
    }

    img {
        max-height: 240px; 
        margin-bottom: 0.5rem;
    }

    form {
        width: 80vw;       
        min-width: 80%;   
        max-width: 100%; 
        padding: 0.5rem; 
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
    }

    h1 {
        font-size: 2rem; 
        margin-bottom: 0.5rem; 
    }

    input {
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        }

    form label {
        font-size: 1.5rem;
        margin-bottom: -0.2rem; 
        font-weight: 600; 
        color: #333;
    }

    .button {
      padding: 0.8rem;
      font-size: 1.5rem;
    }

}